/* VARIABLES */
:root {
    --light-border: rgba(0, 0, 0, 0.08);
    --bg: #f8f8f8;
    --bg-hover: rgb(26, 26, 36);
    --color: rgb(38, 38, 38);
    --accent: #355bf7;
    --accent2: rgba(12, 46, 178, 0.7);
    --accent3: rgb(168, 216, 255);
    --color-inverse: #f8f8f8;
    --error: #b90e0a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --light-border: rgba(250, 250, 250, 0.08);
        --bg: rgb(26, 26, 36);
        --bg-hover: #f8f8f8;
        --color: #f8f8f8;
        --accent: #7700a6;
        --accent2: rgba(155, 101, 249, 0.6);
        --accent3: rgb(70, 33, 122);
        --color-inverse: rgb(26, 26, 36);
        --error: #ffbaba;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    z-index: 1;
}

html {
    font-family: "Montserrat", sans-serif;
    color: var(--color);
}

body {
    background-color: var(--bg);
    line-height: 1.6;
    margin: 0;
    position: relative;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 80vh;

    gap: 1rem;

    position: relative;
}

.struiken {
    background-color: #c4cbbc;
    width: 100%;
    height: 100%;

    grid-column-start: 1;
    grid-column-end: 10;

    padding: 1rem;
    margin-block: auto;

    position: relative;
}

.struiken section {
    width: 100%;
    max-height: 80vh;
    aspect-ratio: 108/90;

    display: grid;

    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.item {
    border: solid 1px;
    z-index: 0;

    background-color: #dce4d9;

    /* background-image: url(/images/tile.svg);
    background-size: cover;
    background-repeat: repeat-x; */
}

.item:nth-child(even) {
    background-color: #c0d5c4;
}

.struiken > div {
    width: 100%;
    max-height: 80vh;
    aspect-ratio: 108/90;
}

.side {
    grid-column-start: 10;
    grid-column-end: 13;
    display: block;
}

.gameOver .side {
    display: block;
}



.food-image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: green;
}


.weetjes{
    padding: 1rem;
    background-color: #93baaa;
    border-radius: 15px;
    color: var(--bg);
}

.weetjes-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(241, 241, 241, 0.9);
    border-radius: 15px;
    max-height: 400px;
    overflow-y: auto;
    font-size: 0.8rem;
    align-items: center;
    justify-content: flex-start;
}

.weetjes-container .weet {
    background-color: #93baaa;
    padding: 0.5rem;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    margin: 0.5rem 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .hidden {
    display: none;
}

.scroll {
    overflow-y: scroll;
    max-height: 55vh;
}

.gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
    z-index: 10;
}

.gameOver p {
    font-size: 24px;
    margin-bottom: 20px;
}

.gameOver button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #93BAAA;
    color: white;
    margin: 10px;
}

.chef {
    width: 100%;
    height: 100%;
    background-image: url("/images/chef.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.obstacle {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.muur{
    background-image: url("/images/muur.jpg");
}


.badFood{
    background-image: url("/images/bappel.png");
}

.kast{
    background-image: url("/images/kast.png");


}

.food{
    background-size: contain;
}

/* mobile buttons contianer */
.mobileButtons {
    display: none;
}

@media (max-width: 46.5rem) {
    .grid {
        display: flex;
        height: auto;
        flex-direction: column;
    }

    .mobileButtons {
        position: sticky;
        bottom: 0;
        margin: 5rem auto 0;
        display: flex;
        flex-direction: column;
        z-index: 100;
        align-items: center;
    }

    .row1 {
        display: flex;
        align-items: center;
    }

    .row2 {
        display: flex;
        align-items: center;
    }

    .arrow {
        display: block;
        background-color: white;
        padding: 1rem;
        font-size: 2rem;
        width: 5rem;
        height: 5rem;
        text-align: center;
        z-index: 1000;
    }

    .score {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .score-display {
        display: block;
        font-size: 2rem;
    }
}
